:root {
  --main-font: 'Exo 2';
}

@font-face {
  font-family: 'Exo 2';
  src: url('Exo2-ExtraLight.woff2') format('woff2');
  font-weight: 400;
}

body {
  font-family: 'Exo 2';
}


.custom-video {
  width: 100%;
  max-width: 100%;
  background-color: #966782;
  border-radius: 40px;
  outline: none;
}